ul {
    display: flex;
    padding: 15px;
    margin-right: 800px;
    background-color: rgb(188, 132, 241);
    gap: 30px;
    list-style: none;
}

li {
    padding-top: 8px;
    cursor: pointer;
    color: #fff;
}

.cuadro {
    padding: 8px;
    background-color: blue;
}