/* Estilos header*/
header {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.header__navegation {
    display: flex;
    align-items: center;
}

.header__navegation nav ul {
    display: flex;
    gap: 45px;
    list-style: none;
    
}

.header__navegation nav ul li a {
    text-decoration: none;
    color: #454868;
}

.header__setting {
    display: flex;
    gap: 70px;
    align-items: center;
}

.header__setting div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Jost';
    font-size: 16px;
    font-weight: 400;
}

.header__setting button {
    background-color: transparent;
    border: 1px solid #45486854;
}
