/* Estilos Globales */
body {
    margin: 0;
}

a {
    font-family: 'Jost';
    font-size: 18px;
}

button {
    padding: 12px 25px;
    font-family: 'Jost';
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

p {
    font-family: 'Jost';
    font-weight: 300;
    font-size: 15px;
}

.button--orange {
    margin-right: 10px;
    background-color: #FD909E;
    color: #fff;
    border: none;
}

/* Estilos header*/
header {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.header__navegation {
    display: flex;
    align-items: center;
}

.header__navegation nav ul {
    display: flex;
    gap: 45px;
    list-style: none;
    
}

.header__navegation nav ul li a {
    text-decoration: none;
    color: #454868;
}

.header__setting {
    display: flex;
    gap: 70px;
    align-items: center;
}

.header__setting div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Jost';
    font-size: 16px;
    font-weight: 400;
}

.header__setting button {
    background-color: transparent;
    border: 1px solid #45486854;
}

/*ESTILOS DEL BANNER*/

#banner {
    display: flex;
    margin: 25px 100px;
    padding: 90px 80px;
    background: linear-gradient(313.18deg, #EE9AE5 3.28%, #5961F9 97.04%);
    border-radius: 48px 48px 300px 48px;
}

h1 {
    margin: 0px;
    font-family: 'Jost';
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    line-height: 70px;
    letter-spacing: -0.64px;
}

#banner p {
    margin: 25px 0px;
    color: #fff;
}

.button--white {
    padding: 12px 35px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

/* section 1 */

#section-1 {
    margin: 25px 100px;
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
}