.green_subrayado {
    color:#80ff00b6;
    text-decoration: underline;
}

.tex_red {
    color: red;
}

.line {
    text-decoration: underline overline;
}

.black {
    font-size: 30px;
}

.blue {
    font-weight: bold;
    color: blue;
}

.red {
    font-weight: bold;
    text-decoration: underline;
    color: red;
}